@page
@model FrontendProyecto.Pages.Auth.IndexModel
@{
   
    <h1>Listado de clientes</h1>
    <table class="table">
    <thead>
        <tr>
                <th>idUsuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Password</th>
                <th>telefono</th>
                <th>FechaRegistro</th>
        </tr>
    </thead>

    <tbody>
            @foreach (var usuario in Model.usuarios)
            {
                <tr>
                        <td>@usuario.IdUsuario</td>
                        <td>@usuario.Nombre</td>
                        <td>@usuario.Apellido</td>
                         <td>@usuario.CorreoUsuario</td>
                    <td>@usuario.Password</td>
                    <td>@usuario.Telefono</td>
                    <td>@usuario.FechaRegistro</td>
                </tr>
            }
        </tbody>

    </table>
}


